package ${package.Mapper};

import ${package.Entity}.${entity};
/**
 * $!{table.comment} Mapper 接口
 * $!{table.mapperName}
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.mapperName} : ${superMapperClass}<${entity}>
#else
public interface ${table.mapperName} extends MyMapper<${entity}> {

}
#end
