<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xfj.spider.mapper.AgentPlatformMapper">


    <select id="getAgentPlatform" resultType="java.lang.Integer" parameterType="map">

      select am_id from agent_platform am left join agent at on am.at_id=at.at_id
                                          left join telephone te on at.te_id = te.te_id
                                          where te.te_telephone =#{telephone}
                                          and at.at_name=#{name} and at.at_company=#{company}
                                          and am.pm_id=#{pmId}
                                          limit 1
    </select>
</mapper>
