<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xfj.spider.mapper.AgentMapper">

    <select id="getAgent" parameterType="map" resultType="com.xfj.spider.model.Agent">
        select * from agent where
        1=1
        <if test="name != null">
            AND at_name = #{name}
        </if>
    </select>

</mapper>
