<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xfj.spider.mapper.EsfToolsSpiderProxyIpMapper">




    <select id="getFastProxyIpAll" resultType="com.xfj.spider.model.EsfToolsSpiderProxyIp">
    select a.*, case a.successed_count+a.failed_count when 0 then 0 else round(a.successed_count/(a.successed_count+a.failed_count)*100) end  as rate from esf_tools_spider_proxy_ip a
    where (a.successed_count=0 and a.failed_count=0) or (a.successed_count=0 and a.failed_count &lt;=50) or round(a.successed_count/(a.successed_count+a.failed_count)*100) &gt;=5
    order by round(case a.successed_count+a.failed_count when  0 then 0 else (a.successed_count/(a.successed_count+a.failed_count))*100 end) desc
  </select>

    <delete id="delNotFastProxyIp">
    delete from esf_tools_spider_proxy_ip  where ip_id not in(select * from (
       select a.ip_id from esf_tools_spider_proxy_ip a
    where (a.successed_count=0 and a.failed_count=0) or (a.successed_count=0 and a.failed_count &lt;=10) or round(a.successed_count/(a.successed_count+a.failed_count)*100) &gt;=50
    order by round(case a.successed_count+a.failed_count when  0 then 0 else (a.successed_count/(a.successed_count+a.failed_count))*100 end) desc
    ) t
    )
  </delete>
</mapper>
